body {
	background-image:url('../img/space.jpg');
	background-repeat:repeat;
}

#mainHeader {
	color: white;

	font-family: "Helvetica Neue","Arial",sans-serif;
	font-weight: 200;
	font-size: 45px;

	text-align: center;
	margin-top: 170px;
}

.mainButton {
	position: absolute;

	width: 150px;
	height: 45px;
	border-radius: 10px;

	background-color: #EEEEEE;
	color: #282828;

	text-align: center;
	text-shadow: 1px 1px 0px #FFFFFF;
	font-family: "Open Sans","Trebuchet MS",sans-serif;
	font-size: 27px;
}

#registerButton {
	top: 300px;
	left: 35%;
}

#loginButton {
	top: 300px;
	right: 35%;
}

.inputWindow {
	position: absolute;

	width: 300px;
	height: 280px;

	border-radius: 15px;

	background-color: #BBBBBB;

	top:160px;
	left: 0;
	right: 0;
	margin: auto;
}

#cancelButton {
	position: absolute;

	top:150px;
	left: -300px;
	right: 0;
	margin: auto;

	width: 25px;
	height: 25px;

	background-color: white;

	border-radius: 50px;
}